{{#each tanks as |tank|}}

  <!-- Don't uncomment yet -->

  <h1 class ="text-center" data-id="{{tank.id}}"> <small>{{tank.name}}</small></h1>
  <div class="text-center">
    {{#if tank.name}}
      <ul class="list-unstyled"><li data-id="{{tank.id}}">Water Type: {{tank.water}}</li>
        <li>
          <button type="button" class="update btn btn-primary handle" data-toggle="modal" data-target="#updatetankmodal{{tank.id}}">Update Tank</button>
          <button type="button" class="remove btn btn-default handle" data-toggle="modal" data-target="#removetankmodal{{tank.id}}">Remove Tank</button>
        </li>
      </ul>
      <div class="modal fade" id="updatetankmodal{{tank.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update Tank Information</h5>
            </div>
            <div class="modal-body">
              <p>{{tank.name}}<br>
                 Water Type: {{tank.water}}<br>
               </p>
               <p>*You must fill in all fields in order to update a tank</p>
              <form class="update-tank" data-id="{{tank.id}}">
              <fieldset>
                <input type='text' name='tank[name]' id ='updateName' placeholder="Updated Name">
                <input type='text' name='tank[water]' id ='updateWater' placeholder="Updated Water Type">
                <input data-id="{{tank.id}}" type="submit" name="submit" value="Update Tank">
            </fieldset>
            </form>
            </div>
            <div class="modal-footer">
              <div class="updateerror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="removetankmodal{{tank.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to remove tank?</h5>
            </div>
            <div class="modal-body">
              <form class="remove-tank" data-id="{{tank.id}}">
                <fieldset>
                  <legend>{{tank.name}}</legend>
                  <input type="submit" name="submit" value="Remove Tank">
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <div class="passworderror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    {{/if}}
  </div>
{{/each}}
