<div class="single-tank-view">
<h1> Tank Name: {{tank.name}}</h1>
<h2>Water Type: {{tank.water}}</h2>
<button id="show-all-tanks">Return to List of My Tanks</button>
<button type="button" class="btn btn-large btn-success" id="createanimalbutton" data-toggle="modal" data-target="#createanimalmodal">
    Add an Animal to This Tank!
  </button>
  <button type="button" class="update btn btn-primary handl update-tank-button" data-toggle="modal" data-target="#updatetankmodal{{tank.id}}">Update Tank</button>
  <button type="button" class="remove btn btn-default handle" data-toggle="modal" data-target="#removetankmodal{{tank.id}}">Remove Tank</button>

  <!-- ADD TANK MODAL-->
  <div class="modal fade" id="createanimalmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add an Animal to This Tank</h5>
      </div>
      <div class="modal-body">
  <form id="create-animal" data-id="{{tank.id}}">
  <fieldset>
    <legend>Add An Animal</legend>
    <input type='text' name='animal[name]' id ='create-animal-name' placeholder="Enter Name">
    <input type='text' name='animal[species]' id ='create-animal-species' placeholder="Enter Species">
    <input type='text' name='animal[color]' id ='create-animal-color' placeholder="Enter Color">
    <input data-id="{{tank.id}}" type="submit" name="submit" value="Add Animal">
  </fieldset>
  </form>
  </div>
  <div class="modal-footer">
  <div class="createerror"></div>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div class="modal fade update-tank-modal" id="updatetankmodal{{tank.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Tank Information</h5>
        </div>
        <div class="modal-body">
          <p>{{tank.name}}<br>
             Water Type: {{tank.water}}<br>
           </p>
           <p>*You must fill in all fields in order to update a tank</p>
          <form class="update-tank" data-id="{{tank.id}}">
          <fieldset>
            <input type='text' name='tank[name]' id ='updateName' value="{{tank.name}}" placeholder="Updated Name">
            <select name="tank[water]">
              {{#dropdown tank.water}}
              <option disabled value>--Choose a Water Type (Required)--</option>
              <option value="Fresh">Fresh</option>
              <option value="Salt">Salt</option>
              {{/dropdown}}
              <br>
            </select>
            <input data-id="{{tank.id}}" type="submit" name="submit" value="Update Tank">
        </fieldset>
        </form>
        </div>
        <div class="modal-footer">
          <div class="updateerror"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="removetankmodal{{tank.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to remove tank?</h5>
        </div>
        <div class="modal-body">
          <form class="remove-tank" data-id="{{tank.id}}">
            <fieldset>
              <legend>{{tank.name}}</legend>
              <input type="submit" name="submit" value="Remove Tank">
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <div class="passworderror"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
