<div class="single-tank-view tank-style">
  <br>
<h1> Aquarium Name: {{tank.name}}</h1>
<h2>Water Type: {{tank.water}}</h2>
<button type="button" class="btn btn-large btn-success" id="createanimalbutton" data-toggle="modal" data-target="#createanimalmodal">
    Add Animal to this Aquarium!
  </button>
  <button type="button" class="update btn btn-primary update-tank-button" data-toggle="modal" data-target="#updatetankmodal{{tank.id}}">Update Aquarium Details</button>
  <button type="button" class="remove btn btn-danger handle" data-toggle="modal" data-target="#removetankmodal{{tank.id}}">Delete Aquarium</button>
  <button type="button" class="btn btn-info" id="show-all-tanks">Return to List of My Aquariums</button>
  <hr>
  <!-- ADD TANK MODAL-->
  <div class="modal fade" id="createanimalmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a Critter to This Aquarium</h5>
      </div>
      <div class="modal-body">
  <form id="create-animal" data-id="{{tank.id}}">
  <fieldset>
    <legend>Add An Animal</legend>
    <input type='text' name='animal[name]' id ='create-animal-name' maxlength="60" placeholder="Enter Name">
    <input type='text' name='animal[species]' id ='create-animal-species' maxlength="60" placeholder="Enter Species">
    <input type='text' name='animal[color]' id ='create-animal-color' maxlength="60" placeholder="Enter Color">
    <input data-id="{{tank.id}}" type="submit" name="submit" value="Add Animal">
  </fieldset>
  </form>
  </div>
  <div class="modal-footer">
  <div class="createerror"></div>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div class="modal fade update-tank-modal" id="updatetankmodal{{tank.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Aquarium Information</h5>
        </div>
        <div class="modal-body">
           <p>*You must complete all fields in order to update an aquarium</p>
          <form class="update-tank" data-id="{{tank.id}}">
          <fieldset>
            <input type='text' name='tank[name]' id ='updateName' maxlength="60" value="{{tank.name}}" placeholder="Updated Name">
            <select name="tank[water]">
              {{#dropdown tank.water}}
              <option disabled value>--Choose a Water Type (Required)--</option>
              <option value="Fresh">Fresh</option>
              <option value="Salt">Salt</option>
              {{/dropdown}}
              <br>
            </select>
            <input data-id="{{tank.id}}" type="submit" name="submit" value="Update Aquarium">
        </fieldset>
        </form>
        </div>
        <div class="modal-footer">
          <div class="updateerror"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="removetankmodal{{tank.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this aquarium?</h4>
        </div>
        <div class="modal-body">
          <legend>Aquarium Name: {{tank.name}}</legend>
          <h4>**Please note that by deleting this aquarium, you will also be deleting any animals listed inside this aquarium.</h4>
          <form class="remove-tank" data-id="{{tank.id}}">
            <fieldset>
              <input type="submit" name="submit" value="Proceed With Deleting Aquarium">
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <div class="passworderror"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
